<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <a href="/tasks">List tasks that are not yet completed</a>
        <a href="/tasks/all">View all tasks</a>
        </div>

        <div class="well">
          <h2> Bob's list of stuff to get done</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Area</th>
                <th>Task</th>
                <th>Priority</th>
                <th>Due</th>
                <th>Created</th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.each do |task| %>
              <tr>
              <% binding.pry %>
                <td><%= task["area_id"] %></td>
                <td><%= task["name"] %></td>
                <td><%= task["priority_level"] %></td>
                <td><%= task["due"] %></td>
                <td><%= task["created_at"] %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </body>
</html>